header{
    position: relative;
    top: 0;
    left:0;
    background-color: rgb(245, 191, 32);
    width: 100%;
    box-shadow: 0px 0px 5px 2px black;
height: 80px;
overflow: hidden;

}
header img{
    float: left;
    width: 5%;
    margin-left: 10px;
    margin-top: 12px;
    box-shadow: 1px 1px 2px 0px black;
    height: 60px;
}
header h1{
    position: relative;
    top: 23px;
    font-family: Arial, Helvetica, sans-serif;
    left: 10px;
    color: white;

}


@media (max-width: 1020px){
    header{
        box-shadow: none;
    height: auto;
    overflow: auto;
    
    }
    header img{
        float: left;
        width: 19%;
        margin-left: 3%;
        margin-top: 1%;
     
        height: auto;
        margin-bottom: 3%;
    }
    header h1{
      
        top: 0%;
      margin-top: 5%;
        left: 7%;
       font-size: 9vw;
    
    }
}